/************************************/
/* General */
/************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  font-family: "Inter", sans-serif;
  margin-left: 10rem;
  margin-right: 10rem;
}

/************************************/
/* Title Bar */
/************************************/
.title-bar {
  display: flex;
  align-items: flex-end;
  margin-top: 5.35rem;
}

h1 {
  font-size: 11rem;
  font-weight: 700;
  letter-spacing: -0.6rem;
  margin-left: 2rem;
  margin-bottom: -2.75rem;
}

/************************************/
/* Color picker */
/************************************/

.color-picker {
  width: 9rem !important; /* not sure how to set this otherwise */
  height: 9rem !important; /* not sure how to set this otherwise */
}

/************************************/
/* Card */
/************************************/
.card {
  margin-top: 7rem;
  margin-left: 5rem;
}

.card-title {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  font-family: "Inter", sans-serif !important;
  letter-spacing: -0.02rem !important;
}

.card-artist {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
  font-family: "Inter", sans-serif !important;
  letter-spacing: -0.02rem !important;
}
