/************************************/
/* General */
/************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 62.5% !important;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  font-family: "Inter", sans-serif;
  margin-left: 10rem;
  margin-right: 10rem;
}

/************************************/
/* Title Bar */
/************************************/
.title-bar {
  display: flex;
  align-items: flex-end;
  margin-top: 5.35rem;
}

h1 {
  font-size: 11rem;
  font-weight: 700;
  letter-spacing: -0.6rem;
  margin-left: 2rem;
  margin-bottom: -2.5rem;
}

/************************************/
/* Color picker */
/************************************/

.color-picker {
  width: 8.25rem !important; /* not sure how to set this otherwise -- possibly in sx prop? */
  height: 8.25rem !important; /* not sure how to set this otherwise -- possibly in sx prop? */
}

/************************************/
/* Artwork Grid */
/************************************/

.artwork-grid-container {
  display: flex;
  justify-content: center;
}

.artwork-grid {
  width: 95%;
}

/************************************/
/* Card */
/************************************/

.card {
  margin-top: 7rem;
  margin-left: 5rem;
}

.card-title,
.card-artist {
  font-family: "Inter", sans-serif !important;
  letter-spacing: -0.02rem !important;
  margin-left: 0.5rem !important;
}

.card-title {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
}

.card-artist {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
}

/************************************/
/* Media Queries */
/************************************/

/* BELOW 600 px */

@media (max-width: 60rem) {
  h1 {
    font-size: 9rem;
    letter-spacing: -0.45rem;
    margin-bottom: -1.8rem;
  }

  .color-picker {
    width: 7.75rem !important; /* not sure how to set this otherwise -- possibly in sx prop? */
    height: 7.75rem !important; /* not sure how to set this otherwise -- possibly in sx prop? */
  }
}

/* BELOW 500 px */

@media (max-width: 50rem) {
  h1 {
    font-size: 7rem;
    letter-spacing: -0.35rem;
    margin-bottom: -1.6rem;
  }

  .color-picker {
    width: 7rem !important; /* not sure how to set this otherwise -- possibly in sx prop? */
    height: 7rem !important; /* not sure how to set this otherwise -- possibly in sx prop? */
  }
}

/* BELOW 400 px */

@media (max-width: 40rem) {
  h1 {
    font-size: 5rem;
    letter-spacing: -0.2rem;
    margin-bottom: -1.1rem;
  }
}

/* BELOW 350 px */

@media (max-width: 35rem) {
  h1 {
    font-size: 4rem;
    letter-spacing: -0.05rem;
    margin-bottom: -0.85rem;
  }
}

/* BELOW 330 px */

@media (max-width: 33rem) {
  h1 {
    font-size: 3.5rem;
    letter-spacing: -0.05rem;
    margin-bottom: -0.75rem;
  }
}
